* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
  text-decoration: none;

}

body {
  font-size: 18px;
}

h3 {
  color: slategray;
  margin: 1em;
  font-size: 200%;
  font-style: 100;
}

.App {
  text-align: center;
  background-color: #e7e7e9;
  color: rgb(23, 23, 27);
  height: 100vh;
}

.navbar {
  background-color: #2c3e50;
  display: flex;
}

.navbar-brand {
  padding: 2em 3em;
  color: #d87a3b;
  font-size: 120%;
  font-style: bold;
}

.navbar div{
  margin: 0;
  padding: 0;
}
.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 2.5em 1em;
}

.navbar ul li :active,
.navbar ul li :focus {
  border-bottom:  2px solid #d87a3b;
  color: #fff;
}

.navbar ul li :hover {
  color: #a4a6a8;
}

.navbar li a {
  color: #bdc3c7;
  padding-bottom: .5em;
}

.component {
  height: auto;
}

.container {
  width: 50%;
  margin: auto auto;
}

.formContainer {
  text-align: -webkit-center;
}

.inputField {
  padding: .5em 1em;
  display: block;
  margin-bottom: .5em;
  font-size: 120%;
}

.btn {
  padding: .5em 3em;
  margin-top: 1.5em;
  font-size: 120%;
}

.continue {
  color: #fff;
  background-color: #d87a3b;
  border-style: none;
  border-radius: 5px;
}

.succField {
  height: .5;
  color: green;
}

.errField {
  height: .5em;
  color: red;
}

.list-item {
  width: 50%;
  margin: auto;
  padding-bottom: 1em;

}

.post-title {
  
  font-size: larger;
  padding-bottom: .5em;
}

.post-content {
  display: block;
  text-align: left;
  font-size: large;
  line-break: loose;
  line-height: 155%;
}

span::first-letter {
  font-size: 200%;
}

span ::first-line {
  padding-left: 2em;
}

.post-author {
  display: block;
  text-align: right;
  font-style: italic;
}